# make a copy of this file and rename copied file as .env

NODE_ENV='development'

# spotify client id (found in spotify developer dashboard)
CLIENT_ID=''

# spotify client secret (found in spotify developer dashboard)
CLIENT_SECRET=''
